body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    font-family:arial;
    background-image:url(sea.jpg);
    background-size:cover;
}
div{
    background:rgba(255,255,255, .7);
    border:2px solid rgba(255,255,255, .2);
    width:50%;
    height:auto;
    box-shadow:0 0 10px rgba(0,0,0, .3);
    padding:10px;
    border-radius:7px;
}
div form h1{
    text-align:center;
}
div form input{
    width:260px;
    height:40;
    padding:10px 5px;
    outline:none;
    border:none;
    margin:0 30px;
    margin-bottom:30px;
    background:none;
    border-bottom:2px solid rgb(90, 93, 94);
}
div form textarea{
    background:none;
    border:none;
    border-bottom:2px solid rgb(119, 115, 115);
    padding:5px;
    outline:none;
    width:595px;
    height:10px;
    margin-left:28px;
}
div form h4{
    margin-left:30px;
}
::-webkit-input-placeholder{
    color:black;
    font-weight:bold;
}
::-webkit-input-placeholder: focus{
    color:blue;
    font-weight:bold;
}
div form #buttom{
    border:none;
    font-weight:bold;
    width:170px;
    height:35px;
    color:#fff;
    background: rgb(66, 64, 64);
}
@media (max-width: 376px) {
    div form h1{
        font-size: 16px;
    }
    div{
        width:300px;
        height:400px;
        font-size: 10px;
    }
    div form input{
        width:100%;
        height:40;
    }
    div form textarea{;
        width:100%;
        height:10px;
    }
    ::-webkit-input-placeholder{
        color:black;
        font-size: 10px;
    }
    div form #buttom{
        font-size: 10px;
        width:100%;
        height:10px;
    }
}